{% extends 'base.html' %}
{% block title %}My Bookings{% endblock %}

{% block content %}
<div class="w-full flex justify-between items-center mb-3 pt-8 pl-3 pb-8 self-center">
    <div class="self-center">
        <h3 class="text-3xl font-semibold text-green-600">Your Current Bookings</h3>
        <h3 class="text-2xl font-semibold text-slate-600">Review your bookings</h3>
    </div>
</div>


<div class="relative pl-[32vw] pb-4 flex flex-col h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border">
    <table class="w-full sm:w-[25vw] text-left table-auto">
        <thead>
            <tr class="border-b border-slate-300 bg-slate-50">
                <th class="p-4 text-lg font-bold leading-none text-slate-500">Date of Request</th>
                <th class="p-4 text-lg font-bold leading-none text-slate-500">Service Type</th>
                <th class="p-4 text-lg font-bold leading-none text-slate-500">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for request in service_requests %}
            <tr class="hover:bg-slate-50">
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-lg text-slate-500">{{ request.date_of_request.strftime('%d/%m/%Y') }}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-lg text-slate-500 font-semibold">{{ request.service.name }}</p>
                </td>
                
                
                <td class="p-4 border-b border-slate-200 py-5">
                    {% if request.service_status == 'assigned' %}
                        <form action="{{ url_for('complete_service_request', request_id=request.id) }}" method="POST">
                            <button type="submit" class="px-3 py-1 text-sm font-semibold text-white bg-blue-500 rounded hover:bg-blue-700">
                                Complete
                            </button>
                        </form>
                    {% elif request.service_status == 'closed' %}
                    <p class="text-lg text-green-500 font-semibold">COMPLETE ✅</p>
                    {% else %}
                    <p class="text-lg text-yellow-500 font-semibold">REQUESTED⏳</p>
                    {% endif %}
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}