{% extends "base.html" %}
{% block title %}
ServEase🛠️ - Home
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<div class="flex justify-between items-center p-6">
  <h1 class="text-3xl text-slate-600 pt-2 font-semibold">
    The easy, reliable way to take care of your home
  </h1>
  <a href="{{ url_for('customer_allView') }}" class="text-blue-600 font-medium hover:underline">
    See All &gt;
  </a>
</div>

<!-- component -->

<form class="max-w-md mx-auto py-2 pt-8">   
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
  <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white" placeholder="Search Services..." required />
      <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-gray-700 hover:bg-gray-800 font-medium rounded-lg text-sm px-4 py-2">Search</button>
  </div>
</form>



<div class="relative flex overflow-x-auto space-x-8 p-6">
  {% for service in services %}
  <div class="flex-none bg-white shadow-sm border border-slate-200 rounded-lg w-80">
    <div class="relative h-46 m-2.5 overflow-hidden text-white rounded-md">
      <img src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="card-image" />
    </div>
    <div class="p-4">
      <h6 class="mb-2 text-slate-800 text-xl font-semibold">
        {{ service.name }}
      </h6>
      <p class="text-slate-600 leading-normal font-light">
        ₹{{ service.price }} <br />
        {{ service.description }}
      </p>
    </div>
    <div class="px-4 pb-4 pt-0 mt-2">
      <button class="rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
        Book Now
      </button>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
