<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup-PromoPulse</title>
    <link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css"
  rel="stylesheet"
/>
</head>
<body>
    <!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
      }
  
  
      .bg-glass {
        background-color: hsla(0, 1%, 13%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }

      #up-head{
        color: rgba(0, 225, 255, 0.867);
        margin-left: 30rem;
        font-family: monospace;
        padding-bottom: 2rem;
      }
    </style>

    <div style="margin-top: 4.52rem;">
        <h1 id="up-head">Sign-Up for ServEase! 🛠️</h1>
        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-3">
            <div class="row gx-lg-5 align-items-center mb-6">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                        The best offer <br/>
                        <span style="color: hsl(218, 81%, 75%)">for your business.</span>
                    </h1>
                    <p class="mb-8 opacity-70 " style="color: hsl(240, 100%, 100%); font-size: larger;">
                        PromoPulse connects brands with influencers, ensuring effective promotions and new revenue streams. With a user-friendly interface and secure payments, it's the ultimate platform for amplifying reach and monetizing influence.
                    </p>
                </div>
                
                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                    
                    <div class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">
                            <form action="/registerUser" method="POST">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input name="name" style="color: white;" type="text" id="form3Example1" class="form-control" required />
                                            <label class="form-label" for="form3Example1">Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline">
                                            <select required id="form3Example2" name="role" style="color: rgb(194, 191, 191); background-color: rgb(54, 53, 53); height: 4.4vh;" class="form-select">
                                                <option value="" disabled selected>I am a...</option>
                                                <option value="influencer">Influencer</option>
                                                <option value="sponsor">Sponsor</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline">
                                            <select required id="form3Example2" name="industry" style="color: rgb(194, 191, 191); background-color: rgb(43, 43, 43); height: 4.5vh; width: 32.5vw; margin-bottom: 2vh;" class="form-select">
                                                <option value="" disabled selected>Select Industry</option>
                                                <option value="technology">Technology</option>
                                                <option value="fashion">Fashion</option>
                                                <option value="beauty">Beauty</option>
                                                <option value="travel">Travel</option>
                                                <option value="fitness">Fitness</option>
                                                <option value="food_and_beverage">Food and Beverage</option>
                                                <option value="automotive">Automotive</option>
                                                <option value="finance">Finance</option>
                                                <option value="healthcare">Healthcare</option>
                                                <option value="entertainment">Entertainment</option>
                                                <option value="education">Education</option>
                                                <option value="real_estate">Real Estate</option>
                                                <option value="sports">Sports</option>
                                                <option value="gaming">Gaming</option>
                                                <option value="home_and_garden">Home and Garden</option>
                                                <option value="pets">Pets</option>
                                                <option value="non_profit">Non-Profit</option>
                                                <option value="arts_and_crafts">Arts and Crafts</option>
                                                <option value="electronics">Electronics</option>
                                                <option value="media">Media</option>
                                                <option value="publishing">Publishing</option>
                                                <option value="hospitality">Hospitality</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Email input -->
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input required style="color: white;" type="email" id="form3Example3" name="email" class="form-control" required />
                                    <label class="form-label" for="form3Example3">Email address</label>
                                </div>
                            
                                <!-- Password input -->
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input required style="color: white;" type="password" id="form3Example4" name="pwd" class="form-control" required />
                                    <label class="form-label" for="form3Example4">Set Password</label>
                                </div>
                                {% if msg %}
                                <p style="text-align: center; color: red; font-weight: 600;">This Email is already registered! Please continue to LOGIN</p>
                                {% endif %}
                                <!-- Checkbox -->
                                <div class="form-check d-flex justify-content-center mb-4">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                                    <label style="color: rgb(155, 153, 153);" class="form-check-label" for="form2Example33">
                                        Subscribe to our newsletter
                                    </label>
                                </div>
                            
                                <!-- Submit button -->
                                <button type="submit"  class="btn btn-primary btn-block mb-4">
                                    Sign up
                                </button>
                            
                                <p style="color: rgb(170, 247, 230);"><b>Already have an account?</b></p>
                                <a class="btn btn-primary btn-block mb-4" href="{{url_for('login')}}">Sign In</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- Section: Design Block -->
    <!-- MDB -->
    <script
    type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"
></script>

</body>
</html>